/** @format */

.container {
  text-align: center;
  margin-top: 5vh;
  max-height: max-content;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10vh;
}
.quote_api {
  font-size: 15px;
  margin-top: 10px;
}
.favorite_text {
  font-size: 15px;
  margin-bottom: 2vh;
  font-weight: 400;
}
.input_quote {
  width: 20vw;
  align-self: center;
}
